#background{
    width:100%;
    height:460px;
    background-color: black;
    position: absolute;
}



#goodbad {
    background-color: aqua;
    width:700px;
   
    height:460px;

    background-image: url("https://assets-in.bmscdn.com/iedb/movies/images/mobile/listing/xxlarge/good-bad-ugly-et00431346-1744016677.jpg");
    background-repeat: no-repeat;
    background-size: 700px 460px;
    position: absolute;
    right: 60px;
    top: 135 px;
    z-index: 1;
}
#movie1{
    width: 250px;
    height: 380px;
    background-image: url("https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/good-bad-ugly-et00431346-1744016677.jpg");
    background-repeat: no-repeat;
    background-size: 250px 380px;
    position: absolute;
    bottom: 50px;
    left: 50px;
}
#text{
    width: 450px;
    height: 250px;
    /* background-color: aqua; */
    position:absolute;
    top: 80px;
    left: 300px;
    z-index: 2;

}
#text1{
    color:white;
    font-size: 50px;
    
    
}
#text2{
    color:white;
    font-size: 40px;
    width:400px;
    height: 60px;
    background-color: rgb(54, 51, 51);
    position:absolute;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#text3
{
    width: 300px;
    height: 70px;
    background-color: rgb(226, 43, 113);
    border-radius: 10px;
    position:relative;
    top:50px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}